## This file must *NOT* be checked into Version Control Systems,
# as it contains information specific to your local configuration.
#
# Location of the SDK. This is only used by Gradle.
# For customization when using a Version Control System, please read the
# header note.
#Mon Feb 10 08:45:19 EET 2025
sdk.dir=C\:\\Users\\Heidelberg\\AppData\\Local\\Android\\Sdk
CLOUDINARY_CLOUD_NAME=your_user
CLOUDINARY_API_KEY=9***********8
CLOUDINARY_API_SECRET=0****************N-s*****Q
CLOUDINARY_UPLOAD_DIR=<DIRECTORY-NAME>
DEFAULT_WEB_CLIENT_ID=from google OAuth2 -> Web_client (auto created by Google Service)